<%= simple_form_for :vehicle, url: "#" do |f| %>
  <%= f.input :license_plate,
      placeholder: 'License plate number',
      label: false,
      wrapper_html: { class: 'mb-3' } %>

  <%= f.input :state,
      collection: US_STATES,
      prompt: 'State',
      label: false,
      wrapper_html: { class: 'mb-4' } %>

  <h5 class="mb-3">Financing information</h5>
  
  <%= f.input :amount_owed,
      placeholder: 'How much do you owe?',
      label: false,
      wrapper_html: { class: 'mb-3' } %>

  <%= f.input :mileage,
      placeholder: 'How many miles are on your vehicle?',
      label: false,
      wrapper_html: { class: 'mb-3' } %>

  <div class="mb-4">
    <p class="mb-3">Is there anyone else on your current loan?</p>
    
    <%= f.collection_radio_buttons :has_co_borrower, 
        [[false, 'No one else, just me'], [true, 'Yes, I have a co-borrower or co-signer']], 
        :first, 
        :last,
        item_wrapper_class: 'form-check mb-2' %>
  </div>

  <%= f.button :submit, 'Continue', 
      class: 'btn-primary w-100',
      onclick: "bootstrap.Tab.getOrCreateInstance(document.querySelector('#make-model-tab')).show(); return false;" %>
<% end %>
