<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h5 class="mb-3">Find your vehicle by</h5>
      
      <ul class="nav nav-pills bg-light rounded-pill p-1 mb-4" role="tablist">
        <li class="nav-item flex-grow-1" role="presentation">
          <%= link_to "VIN", "#vin-tab", 
              class: "nav-link text-center active", 
              id: "vin-tab",
              data: { 
                bs_toggle: "tab",
                bs_target: "#vin-content"
              },
              role: "tab",
              aria: { controls: "vin-content", selected: true } %>
        </li>
        <li class="nav-item flex-grow-1" role="presentation">
          <%= link_to "License plate", "#license-tab", 
              class: "nav-link text-center",
              id: "license-tab",
              data: { 
                bs_toggle: "tab",
                bs_target: "#license-content"
              },
              role: "tab",
              aria: { controls: "license-content", selected: false } %>
        </li>
        <li class="nav-item flex-grow-1" role="presentation">
          <%= link_to "Make & Model", "#make-model-tab", 
              class: "nav-link text-center",
              id: "make-model-tab",
              data: { 
                bs_toggle: "tab",
                bs_target: "#make-model-content"
              },
              role: "tab",
              aria: { controls: "make-model-content", selected: false } %>
        </li>
      </ul>

      <div class="tab-content" id="vehicleTabContent">
        <div class="tab-pane fade show active" id="vin-content" role="tabpanel" aria-labelledby="vin-tab">
          <%= render "vin" %>
        </div>

        <div class="tab-pane fade" id="license-content" role="tabpanel" aria-labelledby="license-tab">
          <%= render "license_plate" %>
        </div>

        <div class="tab-pane fade" id="make-model-content" role="tabpanel" aria-labelledby="make-model-tab">
          <%= render "make_model" %>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .nav-pills .nav-link {
    border-radius: 50rem;
    color: var(--bs-body-color);
  }

  .nav-pills .nav-link.active {
    background-color: var(--bs-primary);
    color: white;
  }
</style>